/* 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} */
body {
    background-color: #f8f8f8;
}

/* main{
    width: 75%;
} */
/* .carousel{
    height: calc(100vh - 124px);
} */